@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p><a asp-controller="Student" asp-action="CreateStudent">Create Student</a></p>
    <p><a asp-controller="Student" asp-action="GetStudents">Get Students</a></p>
    <p><a asp-controller="Student" asp-action="LoginStudent">Login Student</a></p>
    <p><a asp-controller="Student" asp-action="GetStudent">Get Student</a></p>
    <p><a asp-controller="CardOperations" asp-action="CardInfo">CardInfo</a></p>
</div>
