body {
    background-color: #e6e6e6;
}

.user-modal {
}

.user-modal-container {
}

#signup {
}

.title {
    margin: 24px 0;
    text-align: center;
}

.form {
    max-width: 500px;
    margin: auto;
    padding: 24px;
    border-radius: 8px;
    background-color: #94dea5;
    color: #023d54;
}

.fieldset {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

    .fieldset label {
        font-weight: 500;
    }

#group-label {
    font-weight: 500;
    margin-bottom: 6px;
}

.fieldset input,
.fieldset:has(select) {
    background-color: #fff;
    max-width: 500px;
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid #e5e5e5;
}

    .fieldset input[type='file'] {
        border: none;
    }

.fieldset select {
    border: none;
    outline: none;
    box-shadow: none;
}

.fieldset input[type='submit'] {
    background-color: #476834;
    color: #fff;
    padding: 12px 0;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    margin-top: 12px;
    transition: transform ease 0.3s;
}

    .fieldset input[type='submit']:hover {
        transform: scale(0.98);
    }

/*login page*/

    #login{
        min-height:100vh;
        overflow: hidden;
        display:grid;
        place-items:center;
    }

    #login .form{
        width:50%;
        min-width:350px;
        max-width:500px;
    }

    #login .form .title{
        margin:0;
        font-size:36px;
        font-weight:600;
        color:#fff;
    }

        #login .form .infoset {
            display:flex;
            align-items:center;
            justify-content:space-between;
     }
     
     #login .form .infoset .rememberMe input{
        display:inline;
     }

        #login .form .infoset .forgotPassword{
        margin:0;
        }
        #login .form .infoset .forgotPassword a{
            text-decoration:none;
            color:inherit;
        }