@model Domain.DTOs.Write.StudentRequestDTO

@{
    ViewData["Title"] = "Register new Student";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Name" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="LastName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="DateOfBirth" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="DateOfBirth" class="form-control" />
            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="PIN" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="PIN" class="form-control" />
            <span asp-validation-for="PIN" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="PIN" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="PIN" class="form-control" />
            <span asp-validation-for="PIN" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Password" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div> 

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-success" />
            <a asp-action="Index" class="btn btn-info">Back to List</a>
        </div>
    </div>



</form>
